<!doctype html>
<html lang="en" ng-app="pharmly">

<head>
  <meta charset="utf-8" />
  <title>Pharmly</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"></script>

  <body ng-controller="LandingController">
    <div class="header">
      <div class="logo">
        <img src="../views/assets/logo2.png" alt="PillStack Logo" />
      </div>
      <div class="nav-buttons">
        <button class="login-btn" ng-click="navigate('login.html')">Login</button>
        <button class="signup-btn" ng-click="navigate('patient-register')">
          Sign Up
        </button>
      </div>
    </div>

  <script src="app/app.js"></script>
  <script src="app/routes.js"></script>
  <script src="app/auth.service.js"></script>

  <script src="app/controllers/app-shell.js"></script>
  <script src="app/directives/sidebar.js"></script>
  <script src="app/directives/topbar.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="app/layout/public-layout.css" />
  <link rel="stylesheet" href="app/layout/app-layout.css" />
</head>

<body>
  <div ng-view></div>
</body>

</html>