.navbar {
    background: transparent;
}

.navbar-brand {
    letter-spacing: 3px;
}
.hero {
    height: 100vh;
    background:
      linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
      url('../assets/hero.jpg') center/cover no-repeat;
    padding-right: 10%;
}

.hero-title {
    font-weight: 300;
    letter-spacing: 1px;
}
.section-title {
    letter-spacing: 3px;
    font-size: 14px;
}